<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Pin de seguridad</title>
</head>

<body
    style="background-color: #000024; padding: 0; margin: 0; font-family: Arial, Helvetica, sans-serif; padding: 0 5%;">
    <table class="container">
        <tr>
            <th style="text-align: center;">
                <img src="https://lh3.googleusercontent.com/kgeIz47jSK56FokwqvvLVlJvdSmnsYSd-LJ3p5oRW7X8FUFiMpYIKHXFwfQsbXJ99X1saKKrNx-AtQn2qKg-R-HygF4UXicGwuvU7hmNQnwwOA50UQ7ghsIeZvfjTwqRusyzlU1bwdxwXGlXGtdnPbHj8GkRX8He6jm9tVHe9iJXMyfI6X6yZfJDx0z4IHuaU9YDhQBB6TKsgwUio0vGBZi9koXTqgd-x-onJieWAcdGV0EowjDz4nISiV7Ux-3CqE8xBmFAgqUSqcctjFIt2Ct5xvtDk4gHih0EckgT3RYxdM36pmwOTVarko4XnMs09gNVr9kfMPI0p7VXWL70wux2sUEJL2PT9N_HNrykmpxcg7GeQ0rvdmqG81b9OvGao_b8YQElyFFc87JoSYYuClNf1Aef6M8wMmUrolCIQnQP4WSZv4oP39VqV6v9cOtlwt63z2QhqNZlanfIce9GqiEfCZgPLCc_tfEkdegr-rlT-FWiTq5P6x_CnVQwvUwjZ2vM3GSP5M7DZdjQmDJs_t8E9mKqrgaUatUbdNuEEP8pNOX2jwgtjdcIHMKIOB_aq6377usSU8W9GS0Y2QGmhe20mCkTrpyoYYq5yrXJoOzwaT6IsFQG3lbzlVbuAPUBJDF-18qfrPLgBzXdzvsSL-8bbIGGZXnpqXu10AWyZRiAAbKOqpXTILc5_FVV2Ns=w1600-h828-ft"
                    style="width: 250px;" alt="">
            </th>
        </tr>

        <tr style="height: 25px;" />

        <tr>
            <th style="width: 100%; background-color: #03F9FC; height: 200px;">
                <h1 style="color: #000018">
                    Pin de confirmacion
                </h1>
            </th>
        </tr>

        <tr style="height: 25px;" />

        <tr>
            <th>
                <p style="color: #FFF;">
                    ¡Hola que tal! {{username}}. AlySystem te saluda, este correo se ha enviado por seguridad de tu
                    Wallet,
                    tu
                    pin de confirmación se ha generado exitosamente, sigue utilizando nuestro sistema de AlyPay para
                    mayor
                    seguridad
                    de tus finanzas. Equipo de soporte te saluda.
                </p>
            </th>
        </tr>

        <tr style="height: 25px;" />

        <tr>
            <th style="border: 2px solid #03F9FC; border-radius: 5px; padding: 2em; text-align: center;">
                <b style="font-size: 5em; font-weight: bold; color: #FFF;">PIN: {{code}}</b>
            </th>
        </tr>

        <tr style="height: 100px;" />

        <tr>
            <th style="text-align: center;">
                <img src="https://lh3.googleusercontent.com/ZYZZqhLIozO2Ze0WkXAbtNuTj77Hw6_WNTrgQu9Fh_iLXnVYiYtSXvJ2eiXHTUFIGesK_EkeQxQ4yR-hGblI8x035cYscsrl2d4hAf6B70aFCUnVj_68RdGtBxlbT4sBssUGPinza339uwr9UqmjymBhVctOqYGO73iwWrm1VtHz3peVBGYn8Q1bjkk1rho_Gd7QGHzcctu6OH9VIRi_O2dDkOQ3YQVDLB9IMgYDsEjRO5zKhJPDXfPN-9zmpytEfVf7s4OztHl_0xqu4GsKstzzuBLtpnp7LBpM_jOXFzA9nc7Ge4tGFSwlvDwBfXChoQ3EVmLd9w2fNvGStmsGgtu7RlAscweQCz5Zjp17Nz72at6eX4FOtCB0_BEyx9lRz98l9ixGY510fsmFWiNSviGIn6yq_kKDiGS-V4Tdsw1m_lksl8IwUOOiznKKzh_u01hcklJ8gQlhPD4DisDOUWK-vMLbizHfA4puRutCcOWlgJYokZLqgFdKjwjO_nsg7D4T4Rx-sPQzUWWIg2mB_u4hf3kN7QiX46l89oLX-9W8XbgVMR5Azk_fxpYRGb9SDXxF7M5sHuTAWg0cV4SOe90P0r964rW3Z_Awlem7gVChVrfGC9erZdnoZvrlRhAckFiE8Jpgl2J4QliPrq5d42zL4nXdsjbOyMRlKijSLGhSJR1DedO1qt3kaGo6MmE=w1600-h828-ft"
                    style="
          width: 250px;" alt="">
            </th>
        </tr>

    </table>
</body>

</html>